stages:
  - build
  - deploy
  - site

variables:
  build_img: alpine:3.15.4
  curl_img: curlimages/curl:7.83.0
  pkg_name: "${CI_PROJECT_NAME}.zip"
  pkg_url:
    "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${CI_PROJECT_NAME}/${CI_COMMIT_TAG}"

make:
  image: ${build_img}
  stage: build
  script:
  - apk add git zip bash cmark highlight make
  - git fetch --all
  - git submodule init
  - git submodule update
  - make WITH_DOWNLOADS=1
  - mv web/build site
  - zip --recurse-paths site.zip site
  artifacts:
    paths:
      - "packages/*.zip"
      - "packages/*sum.txt"
      - "site.zip"
    expire_in: 10 minutes
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_COMMIT_TAG

pages:
  image: ${build_img}
  stage: site
  script:
    - apk add zip
    - unzip site.zip
    - mv site public
  artifacts:
    paths:
      - public
    expire_in: 10 minutes
  rules:
    - if: $CI_COMMIT_BRANCH == "master"

upload:
  stage: deploy
  image: ${curl_img}
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - 'curl -s --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file packages/$(echo  $CI_COMMIT_TAG | cut -f 1 -d -).zip "${pkg_url}/$(echo  $CI_COMMIT_TAG | cut -f 1 -d -).zip"'
    - 'curl -s --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file packages/$(echo  $CI_COMMIT_TAG | cut -f 1 -d -).zip.sha256sum.txt "${pkg_url}/$(echo  $CI_COMMIT_TAG | cut -f 1 -d -).sha256sum.txt"'
    - 'curl -s --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file packages/$(echo  $CI_COMMIT_TAG | cut -f 1 -d -).zip.sha512sum.txt "${pkg_url}/$(echo  $CI_COMMIT_TAG | cut -f 1 -d -).sha512sum.txt"'
    - 'curl -s --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file packages/$(echo  $CI_COMMIT_TAG | cut -f 1 -d -).zip.blake2ssum.txt "${pkg_url}/$(echo  $CI_COMMIT_TAG | cut -f 1 -d -).blake2ssum.txt"'

