*.zip
*.zip.sha*sum.txt
*sha*sum.txt
version.txt
web/build/
web/site/*/
!web/site/css
!web/site/img
!web/site/js
web/site/*.md
web/sha256sums
web/soupault
web/soupault-*-linux-x86_64*
*.~undo-tree~
*~
sw_cpp/*
!sw_cpp/Scripts
!sw_cpp/Scripts/*
!sw_cpp/*.omwscripts
