.modLinkContainer {
    border: 1px solid #444;
    margin: 10px 12.5% 10px 12.5%;
}

.MWText,
a.modHeader,
#homeButton {
    color: #75076a;
    display: grid;
    align-items: center;
    text-align: center;
    line-height: 1;
    font-size: 32px;
    margin: 10px;
    font-family: "Pelagiad", sans-serif;
    filter: drop-shadow(3px 1.5px #000);
    width: fit-content;
    margin: 5px auto 5px auto;
}

#kartoffel {
    color: #eb5252;
    font-size: 10rem;
}

#homeButton {
    font-size: 8rem;
}

#baldurwind {
    color: #820a26;
    font-size: 48px;
}

#bbl_drizzy {
    color: #ea48f0;
    font-size: 48px;
}

#crass_nav {
    color: #846f06;
    font-size: 8rem;
}

#s3ctors_s3cret_st4sh {
    font-size: 8rem;
}

#starwind_pvp {
    color: #700b15;
    font-size: 8rem;
}

#sw_merged {
    color: #0d6980;
    font-size: 7rem;
}

#sw_cpp {
    color: #0d6980;
    font-size: 7rem;
}

#toolgun {
    color: #75076a;
    font-size: 15rem;
}

#transmog {
    color: #55ffff;
    font-size: 12rem;
}

#monochrome_ui_supplement {
    color: #eeeeff;
    font-size: 8rem;
}

#birr {
    background-image: linear-gradient(to bottom, pink 60%, green);
    background-clip: text;
    color: transparent;
}

#luamics {
    background-image: linear-gradient(to bottom, red 60%, orange);
    background-clip: text;
    color: transparent;
}

#h3lp_yours3lf {
    background-image: linear-gradient(to top, purple 10%, gold);
    background-clip: text;
    color: transparent;
}

#hawk3ye {
    background-image: linear-gradient(to top, cornsilk 10%, burlywood);
    background-clip: text;
    color: transparent;
}