a.backToToc {
    width: fit-content;
    display: block;
    margin: 0 auto 1.25em auto;
}

div#toc {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 0 10px 2.5em 10px;
    justify-items: center;
    padding-bottom: 2.5em;
}

/* ul.toc>li::marker {
    color: rgb(117, 14, 117);
} */

ul.toc {
list-style-image: url("/img/s3-list-item.png");
/* list-style-image: url("/img/todd.png"); */
}

ul.toc>li {
    margin-bottom: 10px;
    margin-left: 1.25em;
    line-height: 1.75;
    width: inherit;
    margin: auto;
    /* list-style: none; */
    list-style-position: outside;
}

h3 {
    margin-top: 15px;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

div#dev-build {
    font-size: 0.9em;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#links {
    font-size: 1.1em;
}

div#errors {
    color: red;
}

div#shas {
    font-size: 0.8em;
}

footer img {
    margin-bottom: 0;
}

div#links a#download:visited {
    color: #e6e6e6;
}

body {
    margin: 0 5% 0 5%;
    max-width: 100%;
}

div#content>p {
    /* Center text placed before the table of contents, or other headings */
    text-align: center;
    max-width: 60%;
    margin: 0 20% 1.25em 20%;
}

div#content> :is(h1, h2, h3, h4, h5, h6, a)~p {
    text-align: justify;
    max-width: 100%;
    margin: 0 0 0.5em 0;
}

#credits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 60%;
    padding: 1em;
    background-color: #111;
    /* background-color: #212; */
    border: 1px solid #656565;
}

#credits-container,
div#content>h2#credits,
div#content>h2#credits~ :is(p, a, ol, ul, li) {
    text-align: center;
}

div#content>div#credits-container>p:not(:last-child) {
    position: relative;
    padding-bottom: 1em;
}

a.backToToc:hover,
a.modHeader:hover,
a#homeButton:hover,
footer>div>a:hover,
ul.toc>li>a:hover {
    text-decoration: none;
    border-bottom: none;
}

div#content>a.backToToc,
ul.toc>li>a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;
}

div#content>a.backToToc:hover,
ul.toc>li>a:hover {
    /* border-bottom: 1px solid rgb(95, 95, 95); */
    /* color: rgb(95, 95, 95); */
    /* border-bottom: 1px solid rgb(117, 14, 117); */
    /* color: rgb(117, 14, 117); */
    border-bottom: 1px solid #616;
    color: #616;
}

div#content>div#credits-container>a.backToToc:hover {
    color: #616;
}

a.backToToc>* {
    margin: 0 0 0 0;
}

a#download.button:hover {
    text-decoration: none;
    /* Should be avoidable, but sakura sets a thicker bottom border when hovering links */
    border-bottom: 1px solid #fff;
    color: #fff;
    background-color: #616;
}

a#download.button {
    transition: all 0.3s ease;
}

div#toc::after,
a.modHeader::after,
a#homeButton::after,
div#content>div#credits-container>a.backToToc::after {
    content: '';
    display: block;
    position: relative;
    margin: 0 auto 0;
    width: 0%;
    height: 1px;
    background-color: #616;
    /* background-color: #656565; */
    transition: width 0.3s ease;
}

a.modHeader:hover::after,
a#homeButton:hover::after,
div#content>div#credits-container>a.backToToc:hover::after {
    width: 40%;
}

/* Don't underline links in the credits which will already be underlined */
div#credits-container>p>a:hover {
    text-decoration: none;
    border-bottom: none;
}

div#content>div#credits-container>p:not(:last-child)::after {
    content: '';
    display: block;
    position: relative;
    margin: 0 auto 0;
    width: 40%;
    height: 1px;
    background-color: #656565;
}