a:hover {
    border-bottom: 1px solid #656565;
}

h3 {
    margin-top: 15px;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

div#dev-build {
    font-size: 0.9em;
    margin-bottom: 20px;
    margin-top: 20px;
}

div#links {
    font-size: 1.1em;
}

div#errors {
    color: red;
}

div#shas {
    font-size: 0.8em;
}

footer img {
    margin-bottom: 0;
}

div#links a#download:visited {
    color: #e6e6e6;
}

body {
    margin: 0 5% 0 5%;
    max-width: 100%;
}

div#content>p {
    /* Center text placed before the table of contents, or other headings */
    text-align: center;
    max-width: 60%;
    margin: 0 20% 1.25em 20%;
}

div#content> :is(h1, h2, h3, h4, h5, h6, a)~p {
    text-align: justify;
    max-width: 100%;
    margin: 0 0 0.5em 0;
}

#credits-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 60%;
    padding: 1em;
    background-color: #111;
    /* background-color: #212; */
    border: 1px solid #656565;
}

#credits-container,
div#content>h2#credits,
div#content>h2#credits~ :is(p, a, ol, ul, li) {
    text-align: center;
}

div#content>div#credits-container > p:not(:last-child) {
    position: relative;
    padding-bottom: 1em;
}

div#content>div#credits-container > p:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 1px;
    background-color: #656565;
}