on:
  workflow_dispatch:
  push:
name: Build and deploy GH Pages
jobs:
  build-site:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@v0.21.0
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release_cleanup:
    uses: DreamWeave-MP/StroggForge/.github/workflows/createRelease.yml@v6
    secrets: inherit

  build-mods:
    needs: release_cleanup
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Build Releases
        run: |
          TAG=""
          if [ ${{ needs.release_cleanup.outputs.release_name }} != 'development' ]; then
          TAG=$( echo ${{ needs.release_cleanup.outputs.release_name }} | cut -f 1 -d '-')
          ./buildSite $TAG

      - name: Upload releases
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ inputs.github_token }}
        with:
          tag_name: ${{ needs.release_cleanup.outputs.release_name }}
          prerelease: ${{ github.ref_type != 'tag' }}
          files: dist/*.zip
