[settings]
  soupault_version = "4.3.1"
  strict = true
  # verbose = true
  # debug = true
  site_dir = "site"
  build_dir = "build"
  page_file_extensions = ["htm", "html", "md", "rst", "adoc"]
  ignore_extensions = ["draft"]
  generator_mode = true
  complete_page_selector = "html"
  default_template_file = "templates/main.html"
  default_content_selector = "div#content"
  default_content_action = "append_child"
  keep_doctype = true
  doctype = "<!DOCTYPE html>"
  pretty_print_html = true
  clean_urls = true
  plugin_discovery = true
  plugin_dirs = ["plugins"]

[preprocessors]
  md = "cmark --unsafe --smart"

# [BUILDER]
[hooks.startup]
  file = 'plugins/mod-info.lua'
  # This should be the GitLab account to which your site will be deployed
  org = "modding-openmw"
  # This is the name of your repository
  project = "s3ctors-s3cret-st4sh"
  # Comment this out to skip any logging from the template
  do_log = "true"
  # Disable this if you wish to only host one mod on your site.
  multi_mod = "true"
  # The next four fields are for the `Report a Problem` section of the Template.
  # Optionally insert your contact info for each platform.
  # For gitlab issues, just set to `true` to have a link to the issues page,
  # or omit it completely to skip it.
  # contact_irc = "s3kshun.8"
  contact_discord = "s3kshun.8"
  contact_email = "corleycomputerrepair@protonmail.ch"
  contact_issues_page = 'true'

  # Include links to download file digests
  # for verification purposes
  # use_digests = 'true'
  # MANDATORY: Omits certain directories during the build process
  # Do not remove any of these, or you will start a big fire
  # But feel free to add new ones!
  global_exclude_paths = "js|.git|web|img|css|.vscode|Survival|Empowered Races"

[hooks.pre-process]
  profile = 'prod'
  lua_source = """
  if not Sys.is_file('.prod') then
     Sys.write_file('.prod', '')
  end
  """

[widgets.package]
  profile = 'pkg'
  widget = 'package'

# Creates the modData tag
# Which includes the mod's directory, the project, and the org name
[widgets.mod-paths]
  after = 'package'
  widget = "insert-data"
  check-selector = "head"
  selector = "modData"

# [TITLE FIXER]
# Writes the name of the document's first header
# To the top of the page and assigns the special
# modHeader class for styling
[widgets.title-fixer]
  after = 'mod-paths'
  widget = "title-fixer"
  # If 'true', puts a notice on release pages
  # Indicating you can get the mod from the dev link
  # dev_warning = 'true'
  dev_message = """
  Releases without a download link can be downloaded as a dev build link above.
  """

# Insert the following element anywhere
# in your root README.md to have a
# list of all available mods inserted there:
# <div id="modMarker"></div>
# This widget will not do anything
# if `multi_mod` is not set to `true`
# This only runs on /index.html and /blog/index.html
[hooks.post-build]
  file = 'plugins/mod-list.lua'

[widgets.fonts]
  after = 'title-fixer'
  widget = "include"
  file = "templates/font.html"
  selector = "#fonts"

# [HEADER FIXER]
[widgets.header]
  after = ["title-fixer"]
  widget = "header-insert"

[widgets.footer]
  after = 'header'
  widget = 'footer-insert'
  extra_exclude_dirs = "changelog"

[widgets.page-title]
  widget = "title"
  selector = "h2"
  default = "s3ctors-s3cret-st4sh &mdash; Collection of all mods OpenMW Mods developed by S3ctor, Lua and otherwise."
  append = " | s3ctors-s3cret-st4sh &mdash; Collection of all mods OpenMW Mods developed by S3ctor, Lua and otherwise."
  force = false

[widgets.generator-meta]
  widget = "insert_html"
  html = '<meta name="generator" content="soupault">'
  selector = "head"

[widgets.changelog-toc-html]
  widget = "insert_html"
  html = """
  <h5 class="notoc"
      style="text-align: center;"
      id="contents">Contents</h3>
  <div
    style="text-align: center;"
    id="toc">
  </div>
  """
  selector = ["h4", "h5", "h6"]
  action = "insert_before"
  exclude_path_regex = '^(.*)changelog(.*)$'

[widgets.table-of-contents]
  after = ["changelog-toc-html"]
  widget = "toc"
  selector = "div#toc"
  min_level = 4
  numbered_list = false
  toc_list_class = "toc"
  toc_class_levels = false
  use_heading_slug = true
  valid_html = true
  ignore_heading_selectors = ['.notoc']
  exclude_path_regex = '^(.*)changelog(.*)$'

[widgets.wrap-toc]
  after = ["table-of-contents"]
  widget = "wrap"
  wrapper = """
  <a id="backToToc" href="#contents">
  """
  selector = ["h3", "h4", "h5"]
  wrap_all = true
  exclude_path_regex = '^(.*)changelog(.*)$'

[widgets.prod-mode]
  after = [
    "header",
    "highlight-active-link",
    "highlight-code-css",
    "highlight-code-darkmode-css"
  ]
  widget = "prod-mode"
  profile = "prod"
  project = "s3ctors-s3cret-st4sh"

[widgets.highlight-active-link]
  widget = "section-link-highlight"
  selector = "nav#nav"
  active_link_class = "bold"

[widgets.highlight-code]
  widget = "preprocess_element"
  selector = '*[class^="language-"]'
  command = 'highlight -O html -f --syntax=$(echo $ATTR_CLASS | sed -e "s/language-//")'

[widgets.highlight-code-css]
  widget = "insert-if"
  html = "<link rel='stylesheet' type='text/css' href='/css/highlight.css' />"
  selector = "head"
  check_selector = "code"

[widgets.highlight-code-darkmode-css]
  widget = "insert-if"
  html = "<link rel='stylesheet' type='text/css' media='(prefers-color-scheme: dark)' href='/css/highlight-dark.css'/>"
  selector = "head"
  check_selector = "code"

[widgets.tracking-js]
  profile = "prod"
  widget = "insert_html"
  html = '<script data-goatcounter="https://stats.gitlab.modding-openmw.com/count" async src="https://stats.gitlab.modding-openmw.com/count.js"></script>'
  selector = "body"
  parse = true
